.box {
  border-radius: 1rem;
  background: $color-white;
  height: 18rem;
}

.box2 {
  border: solid 3px $color-crimson;
  background: $color-purewhite;
}

.box3 {
  border: solid 3px $color-white;
  background: $color-crimson;
}
