$font-primary: "open sans", sans-serif;
$font-headings: "monsterrat", sans-serif;
$font-secondary: "Archivo Narrow", sans-serif;

$color-primary: #6a6a6a;
$color-logo: #262626;
$color-white: #f4f3ee;
$color-crimson: #c32c72;
$color-text: #8d8d8d;
$color-background: #e5e5e5;
$color-purewhite: #ffffff;
